- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content
                        .form-horizontal
                            .form-group
                                
                                %label.col-sm-1.control-label #{lang.school.school}
                                .col-sm-2
                                    %select.form-control.m-b.schoolChange
                                        %option(value="0") #{lang.adminIndex.all}
                                %label.col-sm-1.control-label #{lang.classes.classes}
                                .col-sm-2
                                    %select.form-control.m-b.classesChange
                                        %option(value="0") #{lang.adminIndex.all}
                                %label.col-sm-2.control-label 通知/Notice
                                .col-sm-2
                                    %select.form-control.m-b.noticeChange
                                        %option(value="0") #{lang.adminIndex.all}

                .sk-spinner.sk-spinner-wave.animated.fadeOutUp
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input.form-control(type="hidden" name="id")
                        
                        .form-group
                            %label.col-sm-3.control-label 标题/Title
                            .col-sm-9
                                %input.form-control(name="title")
                        .form-group
                            %label.col-sm-3.control-label 简介/short message
                            .col-sm-9
                                %input.form-control(name="short_message")
                        .form-group
                            %label.col-sm-3.control-label 详细内容/content
                            .col-sm-9
                                %textarea.form-control(name="content" style="resize:vertical" rows="10")
                        
                    
                    
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(){
            var school = 0,classes = 0,notice = 0;
            var vc = {
                school:function(){

                    curl('/school/lists',{},function(w){
                        for(d in w.list)
                            $('.schoolChange').append(
                                $('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id)
                            )
                        $('.schoolChange').change(function(){
                            classes = 0;
                            $('.classesChange').val(0);
                            
                            school = $(this).val();
                            $('.classesChange').unbind('change').html('').append($('<option>').text('#{lang.adminIndex.all}').attr('value',0));
                            
                            if(school != 0){
                                vc.classes();
                            }
                            
                        })
                    });
                },classes:function(){

                    curl('/classes/lists',{school_id:school},function(w){
                        for(d in w.list)
                            $('.classesChange').append(
                                $('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id)
                            );
                        $('.classesChange').bind('change',function(){
                            classes = $(this).val();
                            flesh();
                        })
                    });

                },notice:function(){

                    curl('/notice/activity_lists',{need_confirm:1},function(w){
                        for(d in w.list)
                            $('.noticeChange').append(
                                $('<option>').text(w.list[d].title).attr('value',w.list[d].id)
                            );
                        $('.noticeChange').bind('change',function(){
                            notice = $(this).val();
                            flesh();
                        })
                    });

                }
            };
            window.gr.getListAfter = function(d){
                $('.confirm input.i-checks').on('ifChanged',function(){
                    curl(d.upd,{student_id:$(this).parent().parent().attr('data-id'),activity_id:notice,confirm:this.checked?1:0},function(d){
                        curl_succ('success!');
                    });
                });
                
            }
            
            function flesh(){
                classes && notice &&
                getList('/notice/get_activity_confirm',{classes_id:classes,activity_id:notice})
            }

             vc.school();vc.notice();
            
        })