!!!
%html
    %head
        %meta(charset="UTF-8")
        %title 报到
        %meta#viewport(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport")
        %link(rel="stylesheet" href="/recruit/css/reset.css")
        %link(rel="stylesheet" href="/recruit/css/kszl.css")

    %body
        .zl-main(style="text-align:center;padding-top:20px")
            %p(style="font-size:15px;padding-bottom:20px") #{info.name}/#{info.name_en}
            %p(style="font-size:15px") #{info.rand_code}
            %a.enter(href="#") 进入学校/Enter School
            %a.leave(href="#") 离开学校/Leave School
            %a(href="code") 返回/Back

        %script(src="/recruit/js/main.js")
        %script(src="/js/jquery.min.js?v=2.1.4")
        %script(src="/js/m.js?1")
        :javascript
            var id = parseInt("#{info.id}");
            if(!id){
                alert('Student Not Exist!');
                location = 'code'
            }
            j('.enter').click(function(){
                tool.post({
                    url:'/student/attend',
                    data:{id:"#{info.id}"},
                    func:function(){
                        
                    }
                })
            });
            j('.leave').click(function(){
                tool.post({
                    url:'/student/leave',
                    data:{id:"#{info.id}"},
                    func:function(){
                        
                    }
                })
            })
