- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .form-horizontal
                            .form-group
                                .col-sm-1
                                    %button.btn.btn-primary.btn-outline.newOne(data-toggle="button" type="button" aria-pressed="true") new
                                
                                %label.col-sm-1.control-label #{lang.classes.classes}
                                .col-sm-2
                                    %select.form-control.m-b.classesChange
                                        %option(value="0") #{lang.adminIndex.all}
                                .col-sm-3
                                    %form.input-group
                                        %input.form-control
                                        %span.input-group-btn
                                            %button.btn.btn-primary.search(type="submit") 搜索
                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input.form-control(type="hidden" name="id")
                        .form-group.tc
                            %img.img-circle.center-block.cp.avatar_img(data-name="avatar" src="/pic/noavatar.png" style="max-width:100px;max-height:100px")
                            %input.form-control(type="file" style="display:none")
                            %input.form-control(type="hidden" name="avatar")
                        .form-group
                            %label.col-sm-3.control-label #{lang.adminIndex.name}(cn)
                            .col-sm-9
                                %input.form-control(name="name")
                        .form-group
                            %label.col-sm-3.control-label #{lang.adminIndex.name}(en)
                            .col-sm-9
                                %input.form-control(name="name_en")
                        .form-group
                            %label.col-sm-3.control-label #{lang.user.user_name}(en)
                            .col-sm-9
                                %input.form-control(name="user_name")
                        .form-group
                            %label.col-sm-3.control-label #{lang.user.email}
                            .col-sm-9
                                %input.form-control(type="email" name="email")
                        .form-group
                            %label.col-sm-3.control-label #{lang.user.phone}
                            .col-sm-9
                                %input.form-control(name="phone")
                        .form-group
                            %label.col-sm-3.control-label #{lang.user.password}
                            .col-sm-9
                                %input.form-control(name="raw_password")
                        .form-group.updateOnly2
                            :css
                                .form-group kbd{
                                    margin:4px;
                                }.form-group kbd:hover{
                                    background-color:red
                                }
                            %label.col-sm-3.control-label #{lang.student.student_name}
                            .col-sm-9(style="padding-top:7px")
                                
                    
                    .form-horizontal
                        .hr-line-dashed
                        .form-group
                            %label.col-sm-3.control-label
                                %p 选择学生
                                %p Choose Student
                            .col-sm-3
                                %select.form-control(name="school_id")
                        
                            .col-sm-3
                                %select.form-control(name="classes_id")
                        
                            .col-sm-3
                                %select.form-control(name="student_id")
                        .form-group
                            .col-sm-12.tr
                                %button.btn.btn-success.add ADD
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(){
            var classes_id = 0;
            $('.topw form').bind('submit',function(){
                flesh($(this).find('input').val());
                return false;
            });

            

            curl('/classes/lists',{school_id:1},function(w){
                for(d in w.list)$('.classesChange').append($('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id));
                $('.classesChange').bind('change',function(){
                    classes_id = $(this).val();flesh();
                })
            });

            

            curl('/school/lists',{},function(w){
                for(d in w.list)$('[name="school_id"]').append($('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id))
                $('[name="school_id"]').change(function(){
                    var school = $(this).val();
                    $('[name="student_id"]').unbind('change').html('');
                    $('[name="classes_id"]').unbind('change').html('');
                    if(school != 0){
                        curl('/classes/lists',{school_id:school},function(w){
                            for(d in w.list)$('[name="classes_id"]').append($('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id));
                            if($('[name="classes_id"]').attr('data-value'))$('[name="classes_id"]').val($('[name="classes_id"]').attr('data-value')).attr('data-value','');
                            $('[name="classes_id"]').change(function(){
                                var classes = $(this).val();
                                if(!classes)return;
                                $('[name="student_id"]').unbind('change').html('');
                                if(classes != 0){
                                    curl('/student/lists',{classes_id:classes},function(w){
                                        for(d in w.list)$('[name="student_id"]').append($('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id));
                                        if($('[name="student_id"]').attr('data-value'))$('[name="student_id"]').val($('[name="student_id"]').attr('data-value')).attr('data-value','');
                                    })
                                }
                            });
                            $('[name="classes_id"]').change();

                        });
                    }
                })
            });
            var addKdb = function(z,x){
                $('.form-group.updateOnly2 .col-sm-9').append($('<kbd>').text(z).attr('data-student-id',x).addClass('cp t').bind('click',function(){
                    var that = this;
                    curl_check(function(){
                        curl('/staff/delete_student',{id:$(that).attr('data-student-id')},function(){
                            curl_succ('success!');$(that).remove();
                        })
                    })
                }))
            }
            gr.updFunction = function(d){
                $('.form-group.updateOnly2 .col-sm-9').html('');
                for(w in d.student)addKdb(d.lang=='cn'?d.student[w].name:d.student[w].name_en,d.student[w].id)
                
            };
            $('#modal_new .add').bind('click',function(){
                if($('#modal_new [name="student_id"]').val()){

                    var data = $('form').serializeArray()
                    var id = $('#modal_new [name="id"]').val();
                    data.push({name:'type',value:"1"})
                    if(!id)curl('/staff/upd',data,function(w){
                        
                        $('#modal_new [name="id"]').val(w.id);

                        curl('/staff/add_student',{student_id:$('#modal_new [name="student_id"]').val(),id:$('#modal_new [name="id"]').val()},function(d){
                            curl_succ('success!');addKdb(d.name,d.id)
                        })
                    });
                    else curl('/staff/add_student',{student_id:$('#modal_new [name="student_id"]').val(),id:$('#modal_new [name="id"]').val()},function(d){
                        curl_succ('success!');addKdb(d.name,d.id)
                    })

                    
                }
            })
            upPic('/staff/upPic','input[type="file"]','input[name="avatar"]','.avatar_img');
            $('.avatar_img').bind('click',function(){
                $('input[type="file"]').click();
            })
            function flesh(s){
                s = s||'';
                getList('/staff/lists',{type:1,page:1,search:s,classes_id:classes_id})
            }
            $('[name="school_id"]').change();
            flesh();
            
        })