!!!
%html
    %head
        %meta(charset="utf-8")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %meta(name="renderer" content="webkit")
        %meta(http-equiv="Cache-Control" content="no-siteapp")
        %title 后台 - #{lang.adminIndex.homepage}
        %link(rel="shortcut icon" href="favicon.ico")
        %link(href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet")
        %link(href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet")
        %link(href="/css/animate.min.css" rel="stylesheet")
        %link(href="/css/style.min862f.css?v=4.1.0" rel="stylesheet")

    %body.fixed-sidebar.full-height-layout.gray-bg(style="overflow:hidden")
        #wrapper(style="overflow:hidden")
            /左侧导航开始
            %nav.navbar-default.navbar-static-side(role="navigation")
                .nav-close 
                    %i.fa.fa-times-circle
                .sidebar-collapse
                    %ul#side-menu.nav
                        %li.nav-header
                            .dropdown.profile-element
                                
                                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                                    %span.clear
                                    %span.block.m-t-xs
                                        %strong.font-bold
                                            #{userInfo.name}
                                    %span.text-muted.text-xs.block
                                        - if userInfo.type == 2
                                            #{lang.adminIndex.teacher}
                                        - elseif userInfo.type == 3
                                            #{lang.adminIndex.docter}
                                        - elseif userInfo.type == 4
                                            #{lang.adminIndex.market}
                                        - elseif userInfo.type == 5
                                            #{lang.adminIndex.executive}
                                        - elseif userInfo.type == 6
                                            #{lang.adminIndex.principal}
                                        - elseif userInfo.type == 7
                                            #{lang.adminIndex.admin}
                                        %b.caret

                                %ul.dropdown-menu.animated.fadeInRight.m-t-xs
                                    -# %li
                                    -#     %a.J_menuItem(href="form_avatar") 修改头像
                                    %li
                                        %a.J_menuItem(href="form_avatar") #{lang.adminIndex.change_info}

                                    %li.divider
                                    %li
                                        %a(href="/user/logout") #{lang.adminIndex.logout}

                            .logo-element A+

                        %li
                            %a.J_menuItem(href="home/index")
                                %i.fa.fa-home
                                %span.nav-label = lang.adminIndex.homepage
                        - for k,t in menu
                            %li
                                %a.J_menuItem(href="#{t.href}" data-index="#{t.id}")
                                    - if t.fa_ico
                                        %i(class="fa fa-#{t.fa_ico}")
                                    %span.nav-label = t.name
                                    - if t.list
                                        %span.fa.arrow
                                - if t.list
                                    %ul.nav.nav-second-level
                                        - for k,m in t.list
                                            %li
                                                %a.J_menuItem(href="#{m.href}" data-index="#{m.id}")
                                                    - if m.fa_ico
                                                        %i(class="fa fa-#{m.fa_ico}")
                                                    %span.nav-label = m.name
                        %li.hidden.gotoTag
                            %a.J_menuItem(href="#")
                                %span.nav-label
                            

                        -# %li
                        -#     %a(href="mailbox")
                        -#         %i.fa.fa-envelope
                        -#         %span.nav-label 信箱
                        -#         %span.label.label-warning.pull-right 16
                        -#     %ul.nav.nav-second-level
                        -#         %li
                        -#             %a.J_menuItem(href="mailbox") 收件箱
                        -# %li
                        -#     %a(href="#")
                        -#         %i.fa.fa-edit
                        -#         %span.nav-label 表单
                        -#         %span.fa.arrow
                        -#     %ul.nav.nav-second-level
                        -#         %li
                        -#             %a.J_menuItem(href="form_basic") 基本表单
                        -#         %li 
                        -#             %a(href="#")
                        -#                 文件上传
                        -#                 %span.fa.arrow
                        -#             %ul.nav.nav-third-level
                        -#                 %li
                        -#                     %a.J_menuItem(href="form_webuploader") 百度WebUploader
                        -#         %li
                        -#             %a.J_menuItem(href="table_bootstrap")
                        -#                 Bootstrap Table
                        -#                 %span.label.label-danger.pull-right 推荐
            /左侧导航结束
            /右侧部分开始
            #page-wrapper.gray-bg.dashbard-1
                .row.border-bottom
                    %nav.navbar.navbar-static-top(role="navigation" style="margin-bottom: 0")
                        .navbar-header
                            %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href="#")
                                %i.fa.fa-bars
                            %form.navbar-form-custom(role="search" method="post" action="/search_results")
                                %div.form-group
                                    -# %input.form-control(type="text" placeholder="请输入您需要查找的内容 …" name="top-search" id="top-search")

                        %ul.nav.navbar-top-links.navbar-right
                            
                            %li.dropdown.hidden-xs
                                -# %a.right-sidebar-toggle(aria-expanded="false")
                                -#     %i.fa.fa-tasks
                                -#     主题

                .row.content-tabs
                    %button.roll-nav.roll-left.J_tabLeft
                        %i.fa.fa-backward

                    %nav.page-tabs.J_menuTabs
                        .page-tabs-content
                            %a.active.J_menuTab(href="javascript:;" data-id="home/index") = lang.adminIndex.homepage

                    %button.roll-nav.roll-right.J_tabRight
                        %i.fa.fa-forward

                    .btn-group.roll-nav.roll-right
                        %button.dropdown.J_tabClose(data-toggle="dropdown")
                            = lang.adminIndex.operation
                            %span.caret

                        %ul.dropdown-menu.dropdown-menu-right(role="menu")
                            %li.J_tabShowActive
                                %a #{lang.adminIndex.locate}
                            %li.divider
                            %li.J_tabCloseAll
                                %a #{lang.adminIndex.closeAll}
                            %li.J_tabCloseOther
                                %a #{lang.adminIndex.closeOthers}

                    %a.roll-nav.roll-right.J_tabExit(href="/user/logout")
                        %i.fa.fa-sign-out
                        = lang.adminIndex.logout
                #content-main.row.J_mainContent
                    %iframe.J_iframe(name="iframe0" width="100%" height="100%" src="home/index" frameborder="0" data-id="home/index" seamless)
                .footer
                    .pull-right
                        &copy; 2017
                        %a(href="#")A +

            /右侧部分结束
            /右侧边栏开始
            #right-sidebar
                %div.sidebar-container
                    %ul.nav.nav-tabs.navs-3
                        %li.active
                            %a(data-toggle="tab" href="#tab-1")
                                %i.fa.fa-gear
                                主题
                    .tab-content
                        #tab-1.tab-pane.active
                            .sidebar-title
                                %h3
                                    %i.fa.fa-comments-o
                                    主题设置
                                %small
                                    %i.fa.fa-tim
                                    你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置
                            .skin-setttings
                                .title 主题设置
                                .setings-item
                                    %span 收起左侧菜单
                                    .switch
                                        .onoffswitch
                                            %input#collapsemenu.onoffswitch-checkbox(type="checkbox" name="collapsemenu")
                                            %label.onoffswitch-label(for="collapsemenu")
                                                %span.onoffswitch-inner
                                                %span.onoffswitch-switch
                                .setings-item
                                    %span 固定顶部
                                    .switch
                                        .onoffswitch
                                            %input#fixednavbar.onoffswitch-checkbox(type="checkbox" name="fixednavbar")
                                            %label.onoffswitch-label(for="fixednavbar")
                                                %span.onoffswitch-inner
                                                %span.onoffswitch-switch

                                .setings-item
                                    %span 固定宽度

                                    .switch
                                        .onoffswitch
                                            %input#boxedlayout.onoffswitch-checkbox(type="checkbox" name="boxedlayout")
                                            %label.onoffswitch-label(for="boxedlayout")
                                                %span.onoffswitch-inner
                                                %span.onoffswitch-switch

                                .title 皮肤选择
                                .setings-item.default-skin.nb
                                    %span.skin-name
                                        %a.s-skin-0(href="#") 默认皮肤

                                .setings-item.blue-skin.nb
                                    %span.skin-name
                                        %a.s-skin-1(href="#") 蓝色主题
                                .setings-item.yellow-skin.nb
                                    %span.skin-name
                                        %a.s-skin-3(href="#") 黄色/紫色主题
            / 右侧边栏结束
    %script(src="/js/jquery.min.js?v=2.1.4")
    %script(src="/js/bootstrap.min.js?v=3.3.6")
    %script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
    %script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
    %script(src="/js/plugins/layer/layer.min.js")
    %script(src="/js/hplus.min.js?v=4.1.0")
    %script(src="/js/contabs.min.js")
    %script(src="/js/plugins/pace/pace.min.js")
