- extends "base.haml"



- block siteInfo
    %title 学生列表/Student list

- block body
    :css
        .scan,.back{
            margin:10px;
            border:solid 1px #666;
            color:#666;
            font-size:15px;
            background:#fff;
            width: 50%;
            color:#337ab7;
            font-size: 12px;
            padding: 5px;
        }
        .green{
            border-radius:50%;
            width:10px;
            height:10px;
            background:green;
            margin:5px 0;
        }
        .red{
            border-radius:50%;
            width:10px;
            height:10px;
            background:red;
            margin:5px 0;
        }
        .yellow{
            border-radius:50%;
            width:10px;
            height:10px;
            background:yellow;
            margin:5px 0;
        }
        .row{
            margin-top:20px
        }
        #datetimepicker{
            text-align: center;
            border: 1px solid #ccc;
            /* margin: 20px; */
            display: block;
            margin: 20px auto;
            line-height: 30px;
            color: #777;
        }
        .nos{
            text-align: center;
            font-size: 21px;
            margin-top: 50px;
        }
        
    -# %h2.tc.title = date
    %input#datetimepicker(type="text" value="#{date}")
    .tc
        %a(href="/teacher/index")
            %button.back Back
        %a(href="javascript:ef();location.reload(true)")
            %button.back Refresh
        %a(href="javascript:ef();")
            %button.scan Scan
    
    - for k,s in list
        .container-fluid
            .tc.row
                .col-xs-3
                    #{s.name} 
                .col-xs-3
                    #{s.name_en} 
                .col-xs-3
                    - if s.status
                        .green
                    - else
                        .yellow
                .col-xs-3
                    - if s.leave_time
                        .green
                    - else
                        .red
    - if list
    - else
        .nos
            NO STUDENT
    %script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
    
    %script(src="/js/plugins/layer/laydate/laydate.js")
    :javascript
        laydate({elem:"#datetimepicker",event:"focus",format: 'YYYY-MM-DD',choose:function(){
            location = '/teacher/scan?date='+j('input').val()
        }});
        
        
        wx.config({
            debug: false,
            appId: '#{appId}',
            timestamp: #{timestamp},
            nonceStr: '#{nonceStr}',
            signature: '#{signature}',
            jsApiList: ['scanQRCode']
        });
        var ef = function(){
            wx.scanQRCode({
                needResult: 1,
                scanType: ["qrCode","barCode"],
                success: function (res) {

                    location = '/home/attend?code=' + res.resultStr
                }
            });
        }