- extends "base.haml"



- block siteInfo
  %title #{g.title}
  %meta(name="keywords" content="#{g.keywords}")
  %meta(name="description" content="#{g.description}")


- block body
  :css
    #week{margin:20px}

  #week
    今日
    %br
    - for theme in today
      #{theme.name} | #{theme.date} | #{theme.last_number}（#{theme.number}）
      %a(href="/lists/new_number?id=#{theme.id}" target="_blank")
        查看
      %br
    %br
    一星期内有更新
    %br
    - for key,day in this_week
      = key
      %br
      - for theme in day
        #{theme.name} | #{theme.date} | #{theme.last_number}（#{theme.number}）
        %a(href="/lists/new_number?id=#{theme.id}" target="_blank")
          查看
        %br
    %br
    两星期内有更新
    %br
    - for key,day in last_week
      = key
      %br
      - for theme in day
        #{theme.name} | #{theme.date} | #{theme.last_number}（#{theme.number}）
        %a(href="/lists/new_number?id=#{theme.id}" target="_blank")
          查看
        %br
    %br


  