- extends "base.haml"


- block body
    :css
        .changeIt:hover{
            background-color:#f0f0f0
        }
    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content
                        .form-horizontal
                            .form-group
                                
                                %label.col-sm-1.control-label #{lang.school.school}
                                .col-sm-2
                                    %select.form-control.m-b.schoolChange
                                        %option(value="0") #{lang.adminIndex.all}
                                %label.col-sm-1.control-label #{lang.classes.classes}
                                .col-sm-2
                                    %select.form-control.m-b.classesChange
                                        %option(value="0") #{lang.adminIndex.all}
                                %label.col-sm-1.control-label #{lang.adminIndex.year}
                                .col-sm-2
                                    %select.form-control.m-b.yearChange
                                %label.col-sm-1.control-label #{lang.adminIndex.month}
                                .col-sm-2
                                    %select.form-control.m-b.monthChange

                .sk-spinner.sk-spinner-wave.animated.fadeOutUp
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input(type="hidden" name="student_id")
                        %input(type="hidden" name="month")
                        %input(type="hidden" name="day")
                        .form-group
                            %label.col-sm-3.control-label #{lang.student.status}
                            .col-sm-9
                                %input.form-control(type="checkbox" name="status")
                        .form-group.attendZ.dn
                            %label.col-sm-3.control-label #{lang.student.attend_time}
                            .col-sm-9
                                %input.form-control(name="attend_time" placeholder="NN:NN:NN")
                        .form-group.reasonZ
                            %label.col-sm-3.control-label #{lang.student.reason}
                            .col-sm-9
                                %input.form-control(name="reason")
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(){
            var school = 0,classes = 0,year=0,month=0;
            var vc = {
                school:function(){

                    curl('/school/lists',{},function(w){
                        for(d in w.list)
                            $('.schoolChange').append(
                                $('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id)
                            )
                        $('.schoolChange').change(function(){
                            classes = 0;
                            $('.classesChange').val(0);
                            
                            school = $(this).val();
                            $('.classesChange').unbind('change').html('').append($('<option>').text('#{lang.adminIndex.all}').attr('value',0));
                            
                            if(school != 0){
                                vc.classes();
                            }
                            flesh();
                        })
                    });
                },classes:function(){

                    curl('/classes/lists',{school_id:school},function(w){
                        for(d in w.list)
                            $('.classesChange').append(
                                $('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id)
                            );
                        $('.classesChange').bind('change',function(){
                            classes = $(this).val();
                            flesh();
                        })
                    });

                },year:function(){
                    var date = new Date;
                    var thisYear = date.getUTCFullYear();
                    for(var i = 2017;i<=thisYear;i++)
                            $('.yearChange').append(
                                $('<option>').text(i).attr('value',i)
                            );
                    $('.yearChange').bind('change',function(){ 
                        year = $(this).val();
                        flesh();
                    }).change();

                },month:function(){

                    for(var i = 1;i<=12;i++)
                        $('.monthChange').append(function(){
                            if(i<10)i='0'+i;
                            return $('<option>').text(i).attr('value',i)
                        }
                        );
                    $('.monthChange').bind('change',function(){ 
                        month = $(this).val();
                        flesh();
                    }).change();

                }
            };
            function flesh(){
                if(classes && classes !='0' && year && month)
                    getList('/student/attendance_list',{classes_id:classes,month:year+''+month});
                else $('.ibox2').html('');
            }
            gr.getListAfter = function(d){
                $('tbody td').each(function(){
                    if($(this).text() == '√')$(this).addClass('bg-success');
                    else if($(this).text() == '×')$(this).addClass('bg-danger');
                    else if($(this).text() == '❂')$(this).addClass('bg-warning');
                    else if($(this).text() == '')$(this).addClass('bg-info');
                });

                $('h4.modal-title').text(lang.adminIndex.update);
                $('.changeIt').bind('click',function(){
                    $('#modal_new .sk-spinner').removeClass('fadeOutUp');
                    $('#modal_new [name]').val('');
                    var student_id = $(this).attr('data-id');
                    var day = $(this).index();
                    curl(d.get,{month:year+''+month,day:day,student_id:student_id,classes_id:classes},function(g){
                        $('#modal_new .sk-spinner').addClass('fadeOutUp');
                        for(h in g.info){
                            $('#modal_new form').find('[name="'+h+'"]').val(g.info[h]).change();
                        }
                        if(($('#modal_new form [name="status"]')[0].checked == false && g.info.status && g.info.status != '0')||($('#modal_new form [name="status"]')[0].checked == true && (!g.info.status || g.info.status == '0')))
                            $('#modal_new form [name="status"]').click()
                        
                        
                        $('#modal_new .save').unbind('click').bind('click',function(){
                            curl(d.upd,$('#modal_new form').serialize(),function(b){
                                curl_succ('success!');$('[data-dismiss="modal"]').click();setTimeout(flesh,1000)
                            })
                        });
                        $('#modal_new').modal();
                    });
                })

            }
            $('#modal_new form').find('[name="status"]').change(function(){
                if($(this)[0].checked){
                    $('.reasonZ').addClass('dn');
                    $('.attendZ').removeClass('dn');
                }else{
                    $('.reasonZ').removeClass('dn');
                    $('.attendZ').addClass('dn');
                }
            })
            
            vc.school();vc.year();vc.month();
            
            
            
        })