- extends "base.haml"


- block body
    :css
        .changeIt:hover{
            background-color:#f0f0f0
        }
        .star i.fa{font-size:22px}
        .picArray img{width:40px}
        .fa-plus-square-o{font-size:45px}
        .dn{display:none !important}
    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content
                        .form-horizontal
                            .form-group
                                
                                %label.col-sm-1.control-label #{lang.school.school}
                                .col-sm-2
                                    %select.form-control.m-b.schoolChange
                                        %option(value="0") #{lang.adminIndex.all}
                                %label.col-sm-1.control-label #{lang.classes.classes}
                                .col-sm-2
                                    %select.form-control.m-b.classesChange
                                        %option(value="0") #{lang.adminIndex.all}
                                %label.col-sm-1.control-label #{lang.adminIndex.year}
                                .col-sm-2
                                    %select.form-control.m-b.yearChange
                                %label.col-sm-1.control-label #{lang.adminIndex.month}
                                .col-sm-2
                                    %select.form-control.m-b.monthChange

                .sk-spinner.sk-spinner-wave.animated.fadeOutUp
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input(type="hidden" name="student_id")
                        %input(type="hidden" name="month")
                        %input(type="hidden" name="day")
                        %input(type="hidden" name="life")
                        %input(type="hidden" name="learning")
                        %input(type="hidden" name="eat")
                        %input(type="hidden" name="pic")
                        .form-group
                            %label.col-sm-3.control-label
                                学习能力/Learning
                            .col-sm-9
                                %p.star(data-name="learning")
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                        .form-group
                            %label.col-sm-3.control-label
                                饮食能力/Eating
                            .col-sm-9
                                %p.star(data-name="eat")
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                        .form-group
                            %label.col-sm-3.control-label
                                生活能力/Life
                            .col-sm-9
                                %p.star(data-name="life")
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                                    %i.fa.fa-star-o.cp
                        .form-group
                            %label.col-sm-3.control-label 评论/Comment
                            .col-sm-9
                                %textarea.form-control(name="comment" style="resize:vertical" rows="5")
                        .form-group
                            %label.col-sm-3.control-label 图片/Picture
                            .col-sm-9.picArray
                                %span.dib.clear
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    %img.cp.fl(src="/pic/20170426/1493190569.jpg")
                                    
                                %i.fa.fa-plus-square-o.cp
                                %input.dn(type="file")
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-danger.remove(type="button") Remove
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(){
            var school = 0,classes = 0,year=0,month=0;
            var vc = {
                school:function(){

                    curl('/school/lists',{},function(w){
                        for(d in w.list)
                            $('.schoolChange').append(
                                $('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id)
                            )
                        $('.schoolChange').change(function(){
                            classes = 0;
                            $('.classesChange').val(0);
                            
                            school = $(this).val();
                            $('.classesChange').unbind('change').html('').append($('<option>').text('#{lang.adminIndex.all}').attr('value',0));
                            
                            if(school != 0){
                                vc.classes();
                            }
                            flesh();
                        })
                    });
                },classes:function(){

                    curl('/classes/lists',{school_id:school},function(w){
                        for(d in w.list)
                            $('.classesChange').append(
                                $('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id)
                            );
                        $('.classesChange').bind('change',function(){
                            classes = $(this).val();
                            flesh();
                        })
                    });

                },year:function(){
                    var date = new Date;
                    var thisYear = date.getUTCFullYear();
                    for(var i = 2017;i<=thisYear;i++)
                            $('.yearChange').append(
                                $('<option>').text(i).attr('value',i)
                            );
                    $('.yearChange').bind('change',function(){ 
                        year = $(this).val();
                        flesh();
                    }).change();

                },month:function(){

                    for(var i = 1;i<=12;i++)
                        $('.monthChange').append(function(){
                            if(i<10)i='0'+i;
                            return $('<option>').text(i).attr('value',i)
                        }
                        );
                    $('.monthChange').bind('change',function(){ 
                        month = $(this).val();
                        flesh();
                    }).change();

                },fa:function(){
                    var index = $(this).index();
                    $('.modal-body [name="'+$(this).parent().attr('data-name')+'"]').val(index+1);
                    for(var i=0;i<6;i++){
                        if(i<=index){
                            $(this).parent().find('i').eq(i).removeClass('fa-star-o fa-star').addClass('fa-star');
                        }else $(this).parent().find('i').eq(i).removeClass('fa-star-o fa-star').addClass('fa-star-o');
                    }
                },fac:function(){
                    var index = $(this).val() || 0;
                    if(!index || index === '0')return;
                    $('p[data-name="'+$(this).attr('name')+'"]').find('i').eq(index-1).click();
                    
                },toPic:function(){
                    var img = $('#modal_new .picArray span img');
                    var l = img.length;
                    var pic = [];
                    for(var i=0;i<l;i++)pic.push(img.eq(i).attr('data-pic'));


                    $('#modal_new [name="pic"]').val(pic.join(';'));
                },dePic:function(){
                    var that = this;
                    curl_check(function(){
                        $(that).remove();vc.toPic()
                    })

                }
                    
                
            };
            function flesh(){
                if(classes && classes !='0' && year && month)
                    getList('/student/comment_list',{classes_id:classes,year:year,month:month});
                else $('.ibox2').html('');
            }
            gr.getListAfter = function(d){
                $('tbody td').each(function(){
                    if($(this).text() == '√')$(this).addClass('bg-success');
                    else if($(this).text() == '×')$(this).addClass('bg-danger');
                    else if($(this).text() == '❂')$(this).addClass('bg-warning');
                    else if($(this).text() == '')$(this).addClass('bg-info');
                });

                $('h4.modal-title').text(lang.adminIndex.update);
                $('.changeIt').bind('click',function(){
                    $('#modal_new .sk-spinner').removeClass('fadeOutUp');
                    $('.modal-body .star i.fa').removeClass('fa-star-o fa-star').addClass('fa-star-o');
                    $('#modal_new input,#modal_new textarea').val('');
                    $('#modal_new .picArray span').html('');
                    var student_id = $(this).attr('data-id');
                    var day = $(this).index();

                    $('#modal_new [name="month"]').val(year+''+month);
                    $('#modal_new [name="day"]').val(day);
                    $('#modal_new [name="student_id"]').val(student_id);

                    curl(d.get,{month:year+''+month,day:day,id:student_id},function(g){
                        $('#modal_new .sk-spinner').addClass('fadeOutUp');
                        for(h in g.info)$('#modal_new form').find('[name="'+h+'"]').val(g.info[h]).change();
                        for(h in g.info.pic2Array)$('#modal_new .picArray span').append($('<img>').addClass('cp fl').attr({src:g.info.picArray[h],'data-pic':g.info.pic2Array[h]}).click(vc.dePic));
                        $('#modal_new .save').unbind('click').bind('click',function(){
                            curl(d.upd,$('#modal_new form').serialize(),function(b){
                                curl_succ('success!');$('[data-dismiss="modal"]').click();setTimeout(flesh,1000)
                            })
                        });
                        $('#modal_new .remove').unbind('click').bind('click',function(){
                            curl_check(function(){
                                curl(d.del,$('#modal_new form').serialize(),function(b){
                                    curl_succ('success!');$('[data-dismiss="modal"]').click();setTimeout(flesh,1000)
                                })
                            })
                        });
                        $('#modal_new').modal();
                    });
                })

            }
            
            
            vc.school();vc.year();vc.month();
            $('.modal-body .star i.fa').click(vc.fa)
            $('[name="life"],[name="learning"],[name="eat"]').change(vc.fac)
            $('.fa-plus-square-o').click(function(){$('input[type="file"]').click()})

            upPic('/student/upPic','input[type="file"]',function(g){
                $('#modal_new .picArray span').append($('<img>').addClass('cp fl').attr({src:g.apath,'data-pic':g.path}).click(vc.dePic));
                vc.toPic()
            });
            
            
        })